<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Треки</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <h1>Треки</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/tracks}">Треки</a></li>
            <li><a th:href="@{/about}">О нас</a></li>
        </ul>
    </nav>
</header>

<main>
    <h2>Список треков</h2>
    <div class="track-list">
        <div th:each="track : ${tracks}">
            <div>
                <p th:text="${track.title}">Track Title</p>
                <p th:text="${track.artist}">Artist Name</p>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2023 Мой музыкальный сайт. Все права защищены.</p>
</footer>
</body>
</html>